@media (max-width: 1250px) {
  header.header .container {
    width: 1000px;
    margin: 0 auto;
  }
  header.header .container .header-inner .header__navigation .header__logo {
    padding: 5px 10px;
    border-radius: 50px;
  }
  header.header .container .header-inner .header__navigation .header__logo a {
    font-size: 42px;
    color: var(--purpur-color);
  }
  header.header .container .header-inner .header__navigation .header__links {
    display: flex;
    gap: 40px;
  }
  header.header .container .header-inner .header__navigation .header__link {
    font-size: 20px;
    color: var(--white-color);
  }
  header.header .container .header-inner .header__navigation .header__link:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--purpur-color);
  }
  header.header .container .header-inner .header__content .header__content-description {
    width: 40%;
    position: absolute;
    top: 38%;
    left: 0;
  }
  header.header .container .header-inner .header__content .header__content-description p {
    font-size: 22px;
    line-height: 30px;
    color: var(--white-color);
  }
  header.header .container .header-inner .header__content .header__content-title {
    width: 70%;
    position: absolute;
    top: 60%;
    left: 0;
  }
  header.header .container .header-inner .header__content .header__content-title h2 {
    font-size: 60px;
    color: var(--purpur-color);
  }
  main.main section.projects .container {
    width: 1000px;
    margin: 0 auto;
  }
  main.main section.competitions .container {
    width: 1000px;
    margin: 0 auto;
  }
  main.main section.skills_for_work .container {
    width: 1000px;
    margin: 0 auto;
  }
  main.main section.contacts .container {
    width: 1000px;
    margin: 0 auto;
  }
  footer.footer .container {
    width: 1000px;
    margin: 0 auto;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__title {
    margin-bottom: 65px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__title h2 {
    font-size: 22px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__site-rights p {
    font-size: 20px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links {
    margin-bottom: 65px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links a.footer__link {
    margin-right: 25px;
    font-size: 22px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links .a.footer__link:last-child {
    margin-right: 0;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__data-processing-policy p {
    font-size: 20px;
  }
}
@media (max-width: 1100px) {
  header.header .container {
    width: 900px;
    margin: 0 auto;
  }
  header.header .container .header-inner .header__navigation .header__logo {
    padding: 5px 10px;
    border-radius: 50px;
  }
  header.header .container .header-inner .header__navigation .header__logo a {
    font-size: 40px;
    color: var(--purpur-color);
  }
  header.header .container .header-inner .header__navigation .header__links {
    display: flex;
    gap: 30px;
  }
  header.header .container .header-inner .header__navigation .header__link {
    font-size: 18px;
    color: var(--white-color);
  }
  header.header .container .header-inner .header__navigation .header__link:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--purpur-color);
  }
  header.header .container .header-inner .header__content .header__content-description {
    width: 40%;
    position: absolute;
    top: 38%;
    left: 0;
  }
  header.header .container .header-inner .header__content .header__content-description p {
    font-size: 22px;
    line-height: 30px;
    color: var(--white-color);
  }
  header.header .container .header-inner .header__content .header__content-title {
    width: 70%;
    position: absolute;
    top: 60%;
    left: 0;
  }
  header.header .container .header-inner .header__content .header__content-title h2 {
    font-size: 55px;
    color: var(--purpur-color);
  }
  main.main section.projects .container {
    width: 900px;
    margin: 0 auto;
  }
  main.main section.competitions .container {
    width: 900px;
    margin: 0 auto;
  }
  main.main section.competitions .container .competitions-inner .competition__content .competition__info {
    margin-bottom: 60px;
  }
  main.main section.skills_for_work .container {
    width: 900px;
    margin: 0 auto;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__title h2 {
    font-size: 50px;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text .content-left h3 {
    max-width: 100%;
    font-size: 45px;
  }
  main.main section.contacts .container {
    width: 900px;
    margin: 0 auto;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left .contact__left-title h2 {
    font-size: 50px;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left .contact__left-inputs #contact-name {
    padding: 18px 30px;
    font-size: 22px;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right {
    position: relative;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right img.contact__img-notebook {
    width: 400px;
    position: absolute;
    top: 70px;
    right: 10px;
    z-index: 5;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right img.contact__img-developer {
    position: absolute;
    top: -50px;
    right: -20px;
  }
  footer.footer .container {
    width: 900px;
    margin: 0 auto;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__title {
    margin-bottom: 65px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__title h2 {
    font-size: 22px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__site-rights p {
    font-size: 20px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links {
    margin-bottom: 65px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links a.footer__link {
    margin-right: 25px;
    font-size: 22px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links .a.footer__link:last-child {
    margin-right: 0;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__data-processing-policy p {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  header.header .container {
    width: 800px;
    margin: 0 auto;
  }
  header.header .container .header-inner .header__navigation .header__logo {
    padding: 5px 10px;
    border-radius: 50px;
  }
  header.header .container .header-inner .header__navigation .header__logo a {
    font-size: 40px;
    color: var(--purpur-color);
  }
  header.header .container .header-inner .header__navigation .header__links {
    display: flex;
    gap: 25px;
  }
  header.header .container .header-inner .header__navigation .header__link {
    font-size: 18px;
    color: var(--white-color);
  }
  header.header .container .header-inner .header__navigation .header__link:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--purpur-color);
  }
  header.header .container .header-inner .header__content .header__content-description {
    width: 40%;
    position: absolute;
    top: 38%;
    left: 0;
  }
  header.header .container .header-inner .header__content .header__content-description p {
    font-size: 21px;
    line-height: 30px;
    color: var(--white-color);
  }
  header.header .container .header-inner .header__content .header__content-title {
    width: 70%;
    position: absolute;
    top: 60%;
    left: 0;
  }
  header.header .container .header-inner .header__content .header__content-title h2 {
    font-size: 55px;
    color: var(--purpur-color);
  }
  main.main section.projects .container {
    width: 800px;
    margin: 0 auto;
  }
  main.main section.competitions .container {
    width: 800px;
    margin: 0 auto;
  }
  main.main section.competitions .container .competitions-inner .competition__content .competition__info {
    margin-bottom: 60px;
  }
  main.main section.skills_for_work .container {
    width: 800px;
    margin: 0 auto;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__title h2 {
    font-size: 50px;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text {
    padding: 35px;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text .content-left h3 {
    max-width: 100%;
    font-size: 35px;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text .content-right h4 {
    font-size: 20px;
  }
  main.main section.contacts .container {
    width: 800px;
    margin: 0 auto;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left .contact__left-title h2 {
    font-size: 50px;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left .contact__left-inputs #contact-name {
    padding: 18px 30px;
    font-size: 22px;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right {
    position: relative;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right img.contact__img-notebook {
    width: 300px;
    position: absolute;
    top: 95px;
    right: 15px;
    z-index: 5;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right img.contact__img-developer {
    width: 280px;
    position: absolute;
    top: -50px;
    right: -40px;
  }
  footer.footer .container {
    width: 800px;
    margin: 0 auto;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__title {
    margin-bottom: 65px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__title h2 {
    font-size: 22px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__site-rights p {
    font-size: 20px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links {
    margin-bottom: 65px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links a.footer__link {
    margin-right: 25px;
    font-size: 22px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links .a.footer__link:last-child {
    margin-right: 0;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__data-processing-policy p {
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  header.header {
    margin-bottom: 120px;
  }
  header.header .container {
    width: 700px;
    margin: 0 auto;
  }
  header.header .container .header-inner .header__navigation .header__logo {
    padding: 5px 10px;
    border-radius: 50px;
  }
  header.header .container .header-inner .header__navigation .header__logo a {
    font-size: 40px;
    color: var(--purpur-color);
  }
  header.header .container .header-inner .header__navigation .header__links {
    display: flex;
    gap: 25px;
  }
  header.header .container .header-inner .header__navigation .header__link {
    font-size: 18px;
    color: var(--white-color);
  }
  header.header .container .header-inner .header__navigation .header__link:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--purpur-color);
  }
  header.header .container .header-inner .header__content .header__content-description {
    width: 40%;
    position: absolute;
    top: 35%;
    left: 0;
  }
  header.header .container .header-inner .header__content .header__content-description p {
    font-size: 21px;
    line-height: 30px;
    color: var(--white-color);
  }
  header.header .container .header-inner .header__content .header__content-title {
    width: 70%;
    position: absolute;
    top: 60%;
    left: 0;
  }
  header.header .container .header-inner .header__content .header__content-title h2 {
    font-size: 50px;
    color: var(--purpur-color);
  }
  main.main section.projects .container {
    width: 700px;
    margin: 0 auto;
  }
  main.main section.competitions .container {
    width: 700px;
    margin: 0 auto;
  }
  main.main section.competitions .container .competitions-inner .competition__content .competition__info {
    margin-bottom: 60px;
  }
  main.main section.skills_for_work .container {
    width: 700px;
    margin: 0 auto;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text .content-left h3 {
    max-width: 100%;
    font-size: 30px;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text .content-right h4 {
    line-height: 25px;
  }
  main.main section.contacts .container {
    width: 700px;
    margin: 0 auto;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left .contact__left-title h2 {
    font-size: 50px;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left .contact__left-inputs #contact-name {
    padding: 18px 30px;
    font-size: 22px;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right {
    position: relative;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right img.contact__img-notebook {
    width: 300px;
    position: absolute;
    top: 95px;
    right: 15px;
    z-index: 5;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right img.contact__img-developer {
    width: 280px;
    position: absolute;
    top: -50px;
    right: -40px;
  }
  footer.footer .container {
    width: 700px;
    margin: 0 auto;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__title {
    margin-bottom: 65px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__title h2 {
    font-size: 22px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__site-rights p {
    font-size: 20px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links {
    margin-bottom: 65px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links a.footer__link {
    margin-right: 25px;
    font-size: 22px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links .a.footer__link:last-child {
    margin-right: 0;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__data-processing-policy p {
    font-size: 20px;
  }
}
@media (max-width: 780px) {
  header.header {
    margin-bottom: 100px;
  }
  header.header .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  header.header .container .header-inner .header__navigation .header__logo {
    padding: 5px 10px;
    border-radius: 50px;
  }
  header.header .container .header-inner .header__navigation .header__logo a {
    font-size: 42px;
    color: var(--purpur-color);
  }
  header.header .container .header-inner .header__navigation .header__links {
    display: none;
  }
  header.header .container .header-inner .header__navigation .header__links .header__link {
    font-size: 20px;
    color: var(--white-color);
  }
  header.header .container .header-inner .header__navigation .header__links .header__link:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--purpur-color);
  }
  header.header .container .header-inner .header__navigation .header__burger-btn {
    position: absolute;
    right: 15px;
    z-index: 20;
    display: block;
    transition: all 0.3s ease;
  }
  header.header .container .header-inner .header__content .header__content-description {
    width: 40%;
    position: absolute;
    top: 35%;
    left: 0;
  }
  header.header .container .header-inner .header__content .header__content-description p {
    font-size: 22px;
    line-height: 30px;
    color: var(--white-color);
  }
  header.header .container .header-inner .header__content .header__content-title {
    width: 80%;
    position: absolute;
    top: 60%;
    left: 0;
  }
  header.header .container .header-inner .header__content .header__content-title h2 {
    font-size: 52px;
    color: var(--purpur-color);
  }
  .burger_open {
    opacity: 1;
    visibility: visible;
  }
  .body_fixed {
    overflow: hidden;
  }
  main.main {
    margin-bottom: 100px;
  }
  main.main section.projects {
    margin-bottom: 100px;
  }
  main.main section.projects .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main.main section.projects .container .projects-inner .project__title h2 {
    font-size: 45px;
  }
  main.main section.projects .container .projects-inner .project__cards .card .card__text h2 {
    font-size: 30px;
  }
  main.main section.projects .container .projects-inner .project__cards .card .card__text h3 {
    font-size: 30px;
  }
  main.main section.projects .container .projects-inner .all-projects__btn button {
    width: 100%;
    padding: 50px 80px;
    font-size: 30px;
  }
  main.main section.competitions {
    padding-bottom: 100px;
  }
  main.main section.competitions .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main.main section.competitions .container .competitions-inner .competition__content .competition__info {
    margin-bottom: 60px;
  }
  main.main section.skills_for_work {
    padding-bottom: 100px;
  }
  main.main section.skills_for_work .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text .content-left h3 {
    max-width: 100%;
    font-size: 30px;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text .content-right h4 {
    line-height: 25px;
  }
  main.main section.contacts {
    margin-top: 100px;
  }
  main.main section.contacts .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main.main section.contacts .container .contacts-inner .contact__sides {
    width: 100%;
    display: block;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left {
    width: 100%;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left .contact__left-title h2 {
    width: 100%;
    font-size: 50px;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left .contact__left-inputs {
    width: 70%;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left .contact__left-inputs #contact-name {
    padding: 18px 30px;
    font-size: 22px;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right {
    display: none;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right img.contact__img-notebook {
    width: 250px;
    position: absolute;
    top: 95px;
    right: 15px;
    z-index: 5;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right img.contact__img-developer {
    width: 230px;
    position: absolute;
    top: -50px;
    right: -40px;
  }
  main.main section.contacts .container .contacts-inner .contact__btn button {
    padding: 25px 100px;
    font-size: 22px;
  }
  footer.footer .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__title {
    margin-bottom: 65px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__title h2 {
    font-size: 22px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__site-rights p {
    font-size: 20px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links {
    margin-bottom: 65px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links a.footer__link {
    margin-right: 25px;
    font-size: 22px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links .a.footer__link:last-child {
    margin-right: 0;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__data-processing-policy p {
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  header.header .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  header.header .container .header-inner .header__navigation .header__logo {
    padding: 5px 10px;
    border-radius: 50px;
  }
  header.header .container .header-inner .header__navigation .header__logo a {
    font-size: 40px;
    color: var(--purpur-color);
  }
  header.header .container .header-inner .header__navigation .header__links {
    display: none;
  }
  header.header .container .header-inner .header__navigation .header__links .header__link {
    font-size: 20px;
    color: var(--white-color);
  }
  header.header .container .header-inner .header__navigation .header__links .header__link:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--purpur-color);
  }
  header.header .container .header-inner .header__content .header__content-description {
    width: 50%;
    position: absolute;
    top: 40%;
    left: 0;
  }
  header.header .container .header-inner .header__content .header__content-description p {
    font-size: 20px;
    line-height: 30px;
    color: var(--white-color);
  }
  header.header .container .header-inner .header__content .header__content-title {
    width: 80%;
    position: absolute;
    top: 65%;
    left: 0;
  }
  header.header .container .header-inner .header__content .header__content-title h2 {
    font-size: 50px;
    color: var(--purpur-color);
  }
  .burger .burger__content {
    width: 50%;
  }
  .burger .burger__content .burger__logo-wrapper a {
    font-size: 40px;
  }
  .burger .burger__content nav.burger__nav_links .burger__nav_link {
    font-size: 18px;
  }
  .burger .burger__content .burger__contacts .burger__contact-title {
    margin-bottom: 35px;
  }
  .burger .burger__content .burger__contacts .burger__contact-content {
    gap: 15px;
  }
  main.main section.projects .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main.main section.projects .container .projects-inner .project__title h2 {
    font-size: 42px;
  }
  main.main section.projects .container .projects-inner .project__cards .card .card__text h4 {
    padding: 10px 20px;
    position: absolute;
    top: 40px;
    left: 35px;
    font-size: 20px;
  }
  main.main section.projects .container .projects-inner .project__cards .card .card__text h2 {
    position: absolute;
    bottom: 95px;
    left: 35px;
    font-size: 25px;
  }
  main.main section.projects .container .projects-inner .project__cards .card .card__text h3 {
    position: absolute;
    bottom: 50px;
    left: 35px;
    font-size: 25px;
  }
  main.main section.projects .container .projects-inner .all-projects__btn button {
    width: 100%;
    padding: 50px 80px;
    font-size: 30px;
  }
  main.main section.competitions .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main.main section.competitions .container .competitions-inner .competition__content .competition__info {
    margin-bottom: 60px;
  }
  main.main section.skills_for_work .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__title h2 {
    font-size: 45px;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text .content-left h3 {
    max-width: 100%;
    font-size: 28px;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text .content-right h4 {
    line-height: 22px;
  }
  main.main section.contacts .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main.main section.contacts .container .contacts-inner .contact__sides {
    width: 100%;
    display: block;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left {
    width: 100%;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left .contact__left-title h2 {
    font-size: 40px;
    font-weight: 500;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left .contact__left-inputs #contact-name {
    padding: 18px 30px;
    font-size: 22px;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right {
    display: none;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right img.contact__img-notebook {
    width: 250px;
    position: absolute;
    top: 95px;
    right: 15px;
    z-index: 5;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right img.contact__img-developer {
    width: 230px;
    position: absolute;
    top: -50px;
    right: -40px;
  }
  main.main section.contacts .container .contacts-inner .contact__btn button {
    padding: 25px 100px;
    font-size: 22px;
  }
  footer.footer .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  footer.footer .container .footer-inner .footer__sides {
    display: block;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__title {
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__title h2 {
    font-size: 25px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__links-after-adaptive {
    display: block;
    margin-bottom: 60px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__site-rights p {
    margin-bottom: 10px;
    font-size: 20px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links {
    display: none;
    margin-bottom: 65px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links a.footer__link {
    margin-right: 25px;
    font-size: 22px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links .a.footer__link:last-child {
    margin-right: 0;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__data-processing-policy p {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  header.header .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  header.header .container .header-inner .header__navigation .header__logo {
    padding: 5px 10px;
    border-radius: 50px;
  }
  header.header .container .header-inner .header__navigation .header__logo a {
    font-size: 40px;
    color: var(--purpur-color);
  }
  header.header .container .header-inner .header__navigation .header__links {
    display: none;
  }
  header.header .container .header-inner .header__navigation .header__links .header__link {
    font-size: 20px;
    color: var(--white-color);
  }
  header.header .container .header-inner .header__navigation .header__links .header__link:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--purpur-color);
  }
  header.header .container .header-inner .header__navigation .header__burger-btn {
    position: absolute;
    right: 15px;
    z-index: 20;
    display: block;
    transition: all 0.3s ease;
  }
  header.header .container .header-inner .header__content .header__content-description {
    width: 65%;
    position: absolute;
    top: 40%;
    left: 0;
  }
  header.header .container .header-inner .header__content .header__content-description p {
    font-size: 20px;
    line-height: 30px;
    color: var(--white-color);
  }
  header.header .container .header-inner .header__content .header__content-title {
    width: 90%;
    position: absolute;
    top: 65%;
    left: 0;
  }
  header.header .container .header-inner .header__content .header__content-title h2 {
    font-size: 50px;
    color: var(--purpur-color);
  }
  .burger .burger__content {
    width: 60%;
  }
  .burger .burger__content .burger__logo-wrapper a {
    font-size: 40px;
  }
  .burger .burger__content nav.burger__nav_links .burger__nav_link {
    font-size: 18px;
  }
  .burger .burger__content .burger__contacts .burger__contact-title {
    margin-bottom: 35px;
  }
  .burger .burger__content .burger__contacts .burger__contact-content {
    gap: 15px;
  }
  main.main section.projects .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main.main section.projects .container .projects-inner .project__title h2 {
    font-size: 35px;
  }
  main.main section.projects .container .projects-inner .project__cards .card .card__image img {
    width: 100%;
  }
  main.main section.projects .container .projects-inner .project__cards .card .card__text h4 {
    padding: 10px 20px;
    position: absolute;
    top: 40px;
    left: 35px;
    font-size: 20px;
  }
  main.main section.projects .container .projects-inner .project__cards .card .card__text h2 {
    position: absolute;
    bottom: 95px;
    left: 35px;
    font-size: 30px;
  }
  main.main section.projects .container .projects-inner .project__cards .card .card__text h3 {
    position: absolute;
    bottom: 50px;
    left: 35px;
    font-size: 30px;
  }
  main.main section.projects .container .projects-inner .all-projects__btn button {
    width: 100%;
    padding: 45px 75px;
    font-size: 25px;
  }
  main.main section.competitions .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main.main section.competitions .container .competitions-inner .competition__title h2 {
    font-size: 50px;
  }
  main.main section.competitions .container .competitions-inner .competition__content {
    display: block;
  }
  main.main section.competitions .container .competitions-inner .competition__content .competition__info {
    margin-bottom: 60px;
    width: 100%;
  }
  main.main section.skills_for_work .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__title h2 {
    font-size: 35px;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__img img {
    width: 100%;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text {
    padding: 25px;
    display: flex;
    flex-direction: column;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text .content-left {
    margin-bottom: 25px;
    width: 100%;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text .content-left h3 {
    max-width: 100%;
    font-size: 40px;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text .content-right {
    width: 100%;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text .content-right h4 {
    font-size: 22px;
    line-height: 30px;
  }
  main.main section.contacts .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main.main section.contacts .container .contacts-inner .contact__sides {
    width: 100%;
    display: block;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left {
    width: 100%;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left .contact__left-title h2 {
    width: 100%;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left .contact__left-inputs {
    width: 100%;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left .contact__left-inputs #contact-name {
    padding: 18px 30px;
    font-size: 22px;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right {
    display: none;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right img.contact__img-notebook {
    width: 250px;
    position: absolute;
    top: 95px;
    right: 15px;
    z-index: 5;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right img.contact__img-developer {
    width: 230px;
    position: absolute;
    top: -50px;
    right: -40px;
  }
  main.main section.contacts .container .contacts-inner .contact__btn button {
    width: 100%;
    padding: 25px 100px;
    font-size: 22px;
  }
  footer.footer .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  footer.footer .container .footer-inner .footer__sides {
    display: block;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__title {
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__title h2 {
    font-size: 25px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__links-after-adaptive {
    display: block;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__site-rights p {
    font-size: 20px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links {
    display: none;
    margin-bottom: 65px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links a.footer__link {
    margin-right: 25px;
    font-size: 22px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links .a.footer__link:last-child {
    margin-right: 0;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__data-processing-policy p {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  header.header .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  header.header .container .header-inner .header__navigation .header__logo {
    padding: 5px 10px;
    border-radius: 50px;
  }
  header.header .container .header-inner .header__navigation .header__logo a {
    font-size: 40px;
    color: var(--purpur-color);
  }
  header.header .container .header-inner .header__navigation .header__logo svg {
    width: 80px;
    height: 100px;
  }
  header.header .container .header-inner .header__navigation .header__links {
    display: none;
  }
  header.header .container .header-inner .header__navigation .header__links .header__link {
    font-size: 20px;
    color: var(--white-color);
  }
  header.header .container .header-inner .header__navigation .header__links .header__link:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--purpur-color);
  }
  header.header .container .header-inner .header__navigation .header__burger-btn {
    position: absolute;
    right: 15px;
    z-index: 20;
    display: block;
    transition: all 0.3s ease;
  }
  header.header .container .header-inner .header__content .header__content-description {
    width: 70%;
    position: absolute;
    top: 40%;
    left: 0;
  }
  header.header .container .header-inner .header__content .header__content-description p {
    font-size: 20px;
    line-height: 25px;
    color: var(--white-color);
  }
  header.header .container .header-inner .header__content .header__content-title {
    width: 100%;
    position: absolute;
    top: 65%;
    left: 0;
  }
  header.header .container .header-inner .header__content .header__content-title h2 {
    font-size: 45px;
    color: var(--purpur-color);
  }
  .burger .burger__content {
    width: 80%;
  }
  .burger .burger__content .burger__logo-wrapper {
    margin-bottom: 60px;
  }
  .burger .burger__content .burger__logo-wrapper a {
    font-size: 40px;
  }
  .burger .burger__content nav.burger__nav_links .burger__nav_link {
    font-size: 20px;
  }
  .burger .burger__content .burger__contacts .burger__contact-title {
    margin-bottom: 35px;
  }
  .burger .burger__content .burger__contacts .burger__contact-content {
    gap: 15px;
  }
  main.main section.projects .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main.main section.projects .container .projects-inner .project__title h2 {
    font-size: 40px;
  }
  main.main section.projects .container .projects-inner .project__cards .card .card__image img {
    width: 100%;
  }
  main.main section.projects .container .projects-inner .project__cards .card .card__text h4 {
    padding: 10px 20px;
    position: absolute;
    top: 40px;
    left: 35px;
    font-size: 20px;
  }
  main.main section.projects .container .projects-inner .project__cards .card .card__text h2 {
    position: absolute;
    bottom: 85px;
    left: 35px;
    font-size: 25px;
  }
  main.main section.projects .container .projects-inner .project__cards .card .card__text h3 {
    position: absolute;
    bottom: 50px;
    left: 35px;
    font-size: 25px;
  }
  main.main section.projects .container .projects-inner .all-projects__btn button {
    width: 100%;
    padding: 40px 65px;
    font-size: 22px;
  }
  main.main section.competitions .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main.main section.competitions .container .competitions-inner .competition__title h2 {
    font-size: 40px;
  }
  main.main section.competitions .container .competitions-inner .competition__content {
    display: block;
  }
  main.main section.competitions .container .competitions-inner .competition__content .competition__info {
    margin-bottom: 60px;
    width: 100%;
  }
  main.main section.competitions .container .competitions-inner .competition__content .competition__info img {
    width: 40px;
  }
  main.main section.competitions .container .competitions-inner .competition__content .competition__info h3 {
    font-size: 32px;
  }
  main.main section.competitions .container .competitions-inner .competition__content .competition__info h4 {
    font-size: 20px;
  }
  main.main section.skills_for_work .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__title h2 {
    font-size: 35px;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__img img {
    width: 100%;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text {
    padding: 25px;
    display: flex;
    flex-direction: column;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text .content-left {
    margin-bottom: 25px;
    width: 100%;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text .content-left h3 {
    max-width: 100%;
    font-size: 30px;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text .content-right {
    width: 100%;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text .content-right h4 {
    font-size: 20px;
    line-height: 25px;
  }
  main.main section.contacts .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main.main section.contacts .container .contacts-inner .contact__sides {
    width: 100%;
    display: block;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left {
    width: 100%;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left .contact__left-title h2 {
    font-size: 32px;
    width: 100%;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left .contact__left-inputs {
    width: 100%;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left .contact__left-inputs #contact-name {
    padding: 18px 30px;
    font-size: 22px;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right {
    display: none;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right img.contact__img-notebook {
    width: 250px;
    position: absolute;
    top: 95px;
    right: 15px;
    z-index: 5;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right img.contact__img-developer {
    width: 230px;
    position: absolute;
    top: -50px;
    right: -40px;
  }
  main.main section.contacts .container .contacts-inner .contact__btn button {
    padding: 25px 100px;
    font-size: 22px;
  }
  footer.footer .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  footer.footer .container .footer-inner .footer__sides {
    display: block;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__title {
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__title h2 {
    font-size: 25px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__links-after-adaptive {
    display: flex;
    flex-direction: column;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__links-after-adaptive a.footer__link {
    margin-bottom: 15px;
    color: var(--white-color);
    font-size: 22px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__links-after-adaptive .a.footer__link:last-child {
    margin-right: 0;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__links-after-adaptive a.footer__link:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--purpur-color);
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__site-rights p {
    font-size: 20px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links {
    display: none;
    margin-bottom: 65px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links a.footer__link {
    margin-right: 25px;
    font-size: 22px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links .a.footer__link:last-child {
    margin-right: 0;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__data-processing-policy p {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .burger .burger__content {
    width: 80%;
  }
  .burger .burger__content .burger__logo-wrapper {
    margin-bottom: 60px;
  }
  .burger .burger__content .burger__logo-wrapper a {
    font-size: 40px;
  }
  .burger .burger__content nav.burger__nav_links {
    gap: 25px;
  }
  .burger .burger__content nav.burger__nav_links .burger__nav_link {
    font-size: 20px;
  }
  .burger .burger__content .burger__contacts .burger__contact-title {
    margin-bottom: 35px;
  }
  .burger .burger__content .burger__contacts .burger__contact-title h3 {
    font-size: 22px;
  }
  .burger .burger__content .burger__contacts .burger__contact-content {
    gap: 15px;
  }
  .burger .burger__content .burger__contacts .burger__contact-content a.burger__contact {
    font-size: 18px;
  }
  main.main section.projects .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main.main section.projects .container .projects-inner .project__title h2 {
    font-size: 32px;
  }
  main.main section.projects .container .projects-inner .project__cards .card .card__image img {
    width: 100%;
  }
  main.main section.projects .container .projects-inner .project__cards .card .card__text h4 {
    padding: 10px 20px;
    position: absolute;
    top: 40px;
    left: 35px;
    font-size: 18px;
  }
  main.main section.projects .container .projects-inner .project__cards .card .card__text h2 {
    position: absolute;
    bottom: 85px;
    left: 35px;
    font-size: 22px;
  }
  main.main section.projects .container .projects-inner .project__cards .card .card__text h3 {
    position: absolute;
    bottom: 50px;
    left: 35px;
    font-size: 22px;
  }
  main.main section.projects .container .projects-inner .all-projects__btn button {
    width: 100%;
    padding: 35px 50px;
    font-size: 20px;
  }
  main.main section.competitions .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main.main section.competitions .container .competitions-inner .competition__title h2 {
    font-size: 32px;
  }
  main.main section.competitions .container .competitions-inner .competition__content {
    display: block;
  }
  main.main section.competitions .container .competitions-inner .competition__content .competition__info {
    margin-bottom: 60px;
    width: 100%;
  }
  main.main section.competitions .container .competitions-inner .competition__content .competition__info img {
    width: 40px;
  }
  main.main section.competitions .container .competitions-inner .competition__content .competition__info h3 {
    font-size: 30px;
  }
  main.main section.competitions .container .competitions-inner .competition__content .competition__info h4 {
    font-size: 20px;
  }
  main.main section.skills_for_work .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__title h2 {
    font-size: 32px;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__img img {
    width: 100%;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text {
    padding: 25px;
    display: flex;
    flex-direction: column;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text .content-left {
    margin-bottom: 25px;
    width: 100%;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text .content-left h3 {
    max-width: 100%;
    font-size: 25px;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text .content-right {
    width: 100%;
  }
  main.main section.skills_for_work .container .skills_for_work-inner .skills_for_work__content .item__info .content__text .content-right h4 {
    font-size: 18px;
    line-height: 25px;
  }
  main.main section.contacts .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main.main section.contacts .container .contacts-inner .contact__sides {
    width: 100%;
    display: block;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left {
    width: 100%;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left .contact__left-title h2 {
    width: 100%;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left .contact__left-inputs {
    width: 100%;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left .contact__left-inputs #contact-name {
    padding: 18px 30px;
    font-size: 20px;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__left .contact__left-inputs #contact-mail {
    font-size: 20px;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right {
    display: none;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right img.contact__img-notebook {
    width: 250px;
    position: absolute;
    top: 95px;
    right: 15px;
    z-index: 5;
  }
  main.main section.contacts .container .contacts-inner .contact__sides .contact__right img.contact__img-developer {
    width: 230px;
    position: absolute;
    top: -50px;
    right: -40px;
  }
  main.main section.contacts .container .contacts-inner .contact__btn button {
    width: 100%;
    padding: 25px 100px;
    font-size: 20px;
  }
  footer.footer .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  footer.footer .container .footer-inner .footer__sides {
    display: block;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__title {
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__title h2 {
    font-size: 22px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__links-after-adaptive {
    display: flex;
    flex-direction: column;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__links-after-adaptive a.footer__link {
    margin-bottom: 10px;
    color: var(--white-color);
    font-size: 18px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__links-after-adaptive .a.footer__link:last-child {
    margin-right: 0;
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__links-after-adaptive a.footer__link:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--purpur-color);
  }
  footer.footer .container .footer-inner .footer__sides .footer__left-side .footer__site-rights p {
    font-size: 18px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links {
    display: none;
    margin-bottom: 65px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links a.footer__link {
    margin-right: 25px;
    font-size: 22px;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__links .a.footer__link:last-child {
    margin-right: 0;
  }
  footer.footer .container .footer-inner .footer__sides .footer__right-side .footer__data-processing-policy p {
    font-size: 18px;
  }
}
@media (max-width: 380px) {
  header.header .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  header.header .container .header-inner .header__navigation .header__logo {
    padding: 5px 10px;
    border-radius: 50px;
  }
  header.header .container .header-inner .header__navigation .header__logo a {
    font-size: 35px;
    color: var(--purpur-color);
  }
  header.header .container .header-inner .header__navigation .header__links {
    display: none;
  }
  header.header .container .header-inner .header__navigation .header__links .header__link {
    font-size: 20px;
    color: var(--white-color);
  }
  header.header .container .header-inner .header__navigation .header__links .header__link:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--purpur-color);
  }
  header.header .container .header-inner .header__navigation .header__burger-btn {
    position: absolute;
    right: 15px;
    z-index: 20;
    display: block;
    transition: all 0.3s ease;
  }
  header.header .container .header-inner .header__navigation .header__burger-btn img {
    width: 35px;
  }
  header.header .container .header-inner .header__content .header__content-description {
    width: 75%;
    position: absolute;
    top: 35%;
    left: 0;
  }
  header.header .container .header-inner .header__content .header__content-description p {
    font-size: 18px;
    line-height: 25px;
    color: var(--white-color);
  }
  header.header .container .header-inner .header__content .header__content-title {
    width: 100%;
    position: absolute;
    top: 65%;
    left: 0;
  }
  header.header .container .header-inner .header__content .header__content-title h2 {
    font-size: 35px;
    color: var(--purpur-color);
  }
  main.main section.projects .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main.main section.projects .container .projects-inner .project__title h2 {
    font-size: 30px;
  }
  main.main section.projects .container .projects-inner .project__cards .card .card__image img {
    width: 100%;
  }
  main.main section.projects .container .projects-inner .project__cards .card .card__text h4 {
    padding: 10px 20px;
    position: absolute;
    top: 40px;
    left: 35px;
    font-size: 18px;
  }
  main.main section.projects .container .projects-inner .project__cards .card .card__text h2 {
    position: absolute;
    bottom: 85px;
    left: 35px;
    font-size: 22px;
  }
  main.main section.projects .container .projects-inner .project__cards .card .card__text h3 {
    position: absolute;
    bottom: 50px;
    left: 35px;
    font-size: 22px;
  }
  main.main section.projects .container .projects-inner .all-projects__btn button {
    width: 100%;
    padding: 40px 30px;
    font-size: 18px;
  }
  main.main section.competitions .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main.main section.competitions .container .competitions-inner .competition__title h2 {
    font-size: 40px;
  }
  main.main section.competitions .container .competitions-inner .competition__content {
    display: block;
  }
  main.main section.competitions .container .competitions-inner .competition__content .competition__info {
    margin-bottom: 60px;
    width: 100%;
  }
  main.main section.competitions .container .competitions-inner .competition__content .competition__info img {
    width: 40px;
  }
  main.main section.competitions .container .competitions-inner .competition__content .competition__info h3 {
    font-size: 30px;
  }
  main.main section.competitions .container .competitions-inner .competition__content .competition__info h4 {
    font-size: 18px;
  }
}/*# sourceMappingURL=media.css.map */