:root {
    --blue-color: #00edff;
    --purpur-color: #c6c6ff;
    --gold-color: #ffee00;
    --lime-color: #98FF00;
    --black-color: #000;
    --grey-color: #aaaaaa;
    --dark-grey-color: #222222;
    --input-inside-grey-color: #3B3D3B;
    --white-color: #fff;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Neutra Text ';
    scroll-behavior: smooth;
}
.container {
    width: 1150px;
    margin: 0 auto;
}
header.header {
    margin-bottom: 150px;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.514) ), url('https://images.unsplash.com/photo-1510519138101-570d1dca3d66?q=80&w=2047&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 100%;
    background-color:rgba(0, 0, 0, .5);
    .container {
        height: 100%;
        .header-inner {
            position: relative;
            padding-top: 30px;
            height: 100%;
            .header__navigation {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .header__logo {
                    padding: 5px 10px;
                    background-color: var(--black-color);
                    border-radius: 50px;
                    a {
                        font-size: 42px;
                        color: var(--purpur-color);
                    }
                }
                .header__links {
                    display: flex;
                    gap: 50px;
                }
                .header__link {
                    font-size: 20px;
                    color: var(--white-color);
                }
                .header__link:hover {
                    cursor: pointer;
                    transition: all 0.3s ease;
                    color: var(--purpur-color);
                }
                .header__burger-btn {
                    display: none;
                }
            }
            .header__content {
                .header__content-description {
                    width: 40%;
                    position: absolute;
                    top: 42%;
                    left: 0;
                    p {
                        font-size: 22px;
                        line-height: 30px;
                        color: var(--white-color);
                    }
                }
                .header__content-title {
                    width: 70%;
                    position: absolute;
                    top: 60%;
                    left: 0;
                    h2 {
                        font-size: 65px;
                        color: var(--purpur-color);
                    }
                }
            }
        }
    }
}
.body_fixed {
    overflow: hidden;
}
.burger {
    display: flex;
    justify-content: end;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    .burger__content {
        padding: 0 30px;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 100%;
        background-color: var(--black-color);
        .burger__logo-wrapper {
            margin-top: 100px;
            margin-bottom: 40px;
            a {
                font-size: 45px;
                color: var(--purpur-color);
            }
        }
        nav.burger__nav_links {
            margin-bottom: 100px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            text-transform: uppercase;
            .burger__nav_link {
                font-size: 20px;
                color: var(--white-color);
            }
        }
        .burger__contacts {
            display: flex;
            flex-direction: column;
            .burger__contact-title {
                margin-bottom: 30px;
                h3 {
                    font-size: 25px;
                    color: var(--grey-color)   
                }
            }
            .burger__contact-content {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .burger__contact-telegram {
                    display: block;
                    font-size: 20px;
                    color: var(--white-color);
                }
                .burger__contact-mail {
                    display: block;
                    font-size: 20px;
                    color: var(--white-color);
                }
            }
        }
    }
}
main.main {
    margin-bottom: 120px;
    section.projects {
        margin-bottom: 150px;
        .container {
            .projects-inner {
                .project__title {
                    margin-bottom: 40px;
                    h2 {
                        font-weight: 600;
                        font-size: 50px;
                        color: var(--black-color);
                    }
                }
                .project__cards {
                    margin-bottom: 60px;
                    .card {
                        position: relative;
                        .card__image {
                            img {
                                width: 100%;
                            }
                        }
                        .card__text {
                            h4 {
                                padding: 10px 20px;
                                position: absolute;
                                top: 50px;
                                left: 50px;
                                border-radius: 500px;
                                font-size: 20px;
                                background-color: var(--lime-color);
                            }
                            h2 {
                                position: absolute;
                                bottom: 95px;
                                left: 50px;
                                font-size: 35px;
                                color: var(--white-color);
                            }
                            h3 {
                                position: absolute;
                                bottom: 50px;
                                left: 50px;
                                font-size: 35px;
                                color: var(--white-color);
                            }
                        }
                    }
                }
                .all-projects__btn {
                    button {
                        padding: 55px 85px;
                        border: none;
                        border-radius: 10px;
                        cursor: pointer;
                        font-size: 30px;
                        background-color: var(--lime-color);
                    }
                }
            }
        }
    }
    section.competitions {
        padding-bottom: 150px;
        padding-top: 150px;
        background-color: var(--black-color);
        color: var(--white-color);
        .container {
            .competitions-inner {
                .competition__title {
                    margin-bottom: 80px;
                    h2 {
                        font-weight: 600;
                        font-size: 55px;
                    }
                }
                .competition__content {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    width: 100%;
                    .competition__info {
                        margin-bottom: 60px;
                        width: calc(50% - 30px);
                        margin: 0 auto;
                        img {
                            margin-bottom: 15px;
                        }
                        h3 {
                            margin-bottom: 15px;
                            font-size: 35px;
                            color: var(--lime-color);
                        }
                        h4 {
                            font-size: 22px;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }
    section.skills_for_work {
        padding-top: 150px;
        padding-bottom: 150px;
        background-color: var(--black-color);
        .container {
            .skills_for_work-inner {
                .skills_for_work__title {
                    margin-bottom: 80px;
                    h2 {
                        font-weight: 600;
                        font-size: 55px;
                        color: var(--white-color);
                    }
                }
                .skills_for_work__content {
                    .item__info {
                        margin-bottom: 40px;
                        .content__img {
                            img {
                                width: 100%;
                                border-radius: 30px;
                            }
                        }
                        .content__text {
                            padding: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border-radius: 30px;
                            background-color: var(--dark-grey-color);
                            .content-left {
                                width: 49%;
                                h3 {
                                    width: 400px;
                                    font-size: 55px;
                                    font-weight: 500;
                                    color: var(--lime-color);
                                }
                            }
                            .content-right {
                                width: 49%;
                                h4 {
                                    font-size: 22px;
                                    line-height: 30px;
                                    color: var(--white-color);
                                }
                            }
                        }
                    }
                    .item__info:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    section.contacts {
        margin-top: 150px;
        .container {
            .contacts-inner {
                .contact__sides {
                    margin-bottom: 60px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .contact__left {
                        width: 50%;
                        .contact__left-title {
                            h2 {
                                margin-bottom: 60px;
                                width: 500px;
                                font-size: 60px;
                            }
                        }
                        .contact__left-inputs {
                            display: flex;
                            flex-direction: column;
                            gap: 25px;
                            #contact-name {
                                padding: 20px 35px;
                                border-radius: 1000px;
                                font-size: 22px;
                                color: var(--white-color);
                                background-color: var(--input-inside-grey-color);
                            }
                            #contact-name::placeholder {
                                color: var(--white-color);
                            }
                            #contact-name:active, :focus {
                                outline: none;
                                transition: all 0.2s ease; 
                                box-shadow: 5px 8px 40px 1px rgba(0, 0, 0, 0.9);
                                color: var(--white-color);
                            }
        
                            #contact-mail {
                                padding: 20px 35px;
                                border-radius: 1000px;
                                font-size: 22px;
                                color: var(--white-color);
                                background-color: var(--input-inside-grey-color);
                            }
                            #contact-mail::placeholder {
                                color: var(--white-color);
                            }
                            #contact-mail:active, :focus {
                                outline: none;
                                transition: all 0.2s ease; 
                                box-shadow: 5px 8px 40px 1px rgba(0, 0, 0, 0.9);
                                color: var(--white-color);
                            }
                        }
                    }
                    .contact__right {
                        position: relative;
                        img.contact__img-notebook {
                            position: absolute;
                            top: 70px;
                            right: 10px;
                            z-index: 5;
                        }
                        img.contact__img-developer {
                            position: absolute;
                            top: -50px;
                            right: -20px;
                        }
                    }
                }
                .contact__btn {
                    button {
                        padding: 20px 100px;
                        border: none;
                        border-radius: 10px;
                        cursor: pointer;
                        font-size: 22px;
                        background-color: var(--lime-color);
                    }
                }
            }
        }
    }
}
footer.footer {
    border-radius: 30px 30px 0 0;
    color: var(--white-color);
    background-color: var(--black-color);
    .container {
        .footer-inner {
            padding-top: 75px;
            padding-bottom: 30px;
            .footer__sides {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .footer__left-side {
                    .footer__title {
                        margin-bottom: 65px;
                        h2 {
                            font-size: 22px;
                        }
                    }
                    .footer__site-rights {
                        p {
                            font-size: 20px;
                            color: var(--grey-color);
                        }
                    }
                }
                .footer__right-side {
                    .footer__links {
                        margin-bottom: 65px;
                        a.footer__link {
                            margin-right: 25px;
                            color: var(--white-color);
                            font-size: 22px;
                        }
                        .a.footer__link:last-child {
                            margin-right: 0;
                        }
                        a.footer__link:hover {
                            cursor: pointer;
                            transition: all 0.3s ease;
                            color: var(--purpur-color);
                        }
                    }
                    .footer__data-processing-policy {
                        p {
                            font-size: 20px;
                            color: var(--grey-color);
                        }
                    }
                }
            }
        }
    }
}